main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: bisque;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 50px;
}

header {


    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(246, 4, 4, 0.6);
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin: 0px 0px 30px;
    border-radius: 5px;

}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    
    margin: 0px auto;
}

.carta {
    aspect-ratio: 3/4;
   width: 100%;
   background-color: #ff0606;
   border-radius: 5px;
   position: relative;
   transition: all 400ms ease;
   transform-style: preserve-3d;
    
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid #ff0000;
    border-radius: 5px;
    transition: all 800ms ease;

}

.frente{
    
    transform: rotateY(180deg);
}
.tras{
    background-image: url('https://attachment.outlook.live.net/owa/MSA%3Afeapassos%40hotmail.com/service.svc/s/GetAttachmentThumbnail?id=AQMkADAwATYwMAItOWIzNC1jOTdjLTAwAi0wMAoARgAAAxOv4mVb0YtDmBjhBrPf1GgHACiAPm0DMX1OoK6KbVM1d5cAAAIBDAAAACiAPm0DMX1OoK6KbVM1d5cABoMZUL4AAAABEgAQAJr5nACst6pCkMjHtvxWzpY%3D&thumbnailType=2&isc=1&token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjczRkI5QkJFRjYzNjc4RDRGN0U4NEI0NDBCQUJCMTJBMzM5RDlGOTgiLCJ0eXAiOiJKV1QiLCJ4NXQiOiJjX3VidnZZMmVOVDM2RXRFQzZ1eEtqT2RuNWcifQ.eyJvcmlnaW4iOiJodHRwczovL291dGxvb2subGl2ZS5jb20iLCJ1YyI6ImY5ZTA5M2RkYjRiMDQ1ZGRhZmU0MWE0MDZlYzVlOWYyIiwidmVyIjoiRXhjaGFuZ2UuQ2FsbGJhY2suVjEiLCJhcHBjdHhzZW5kZXIiOiJPd2FEb3dubG9hZEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJpc3NyaW5nIjoiV1ciLCJhcHBjdHgiOiJ7XCJtc2V4Y2hwcm90XCI6XCJvd2FcIixcInB1aWRcIjpcIjE2ODg4NTI0NjQxOTE4NjhcIixcInNjb3BlXCI6XCJPd2FEb3dubG9hZFwiLFwib2lkXCI6XCIwMDA2MDAwMC05YjM0LWM5N2MtMDAwMC0wMDAwMDAwMDAwMDBcIixcInByaW1hcnlzaWRcIjpcIlMtMS0yODI3LTM5MzIxNi0yNjAzOTI3OTMyXCJ9IiwibmJmIjoxNjg1NzI0NjI0LCJleHAiOjE2ODU3MjUyMjQsImlzcyI6IjAwMDAwMDAyLTAwMDAtMGZmMS1jZTAwLTAwMDAwMDAwMDAwMEA4NGRmOWU3Zi1lOWY2LTQwYWYtYjQzNS1hYWFhYWFhYWFhYWEiLCJhdWQiOiIwMDAwMDAwMi0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYXR0YWNobWVudC5vdXRsb29rLmxpdmUubmV0QDg0ZGY5ZTdmLWU5ZjYtNDBhZi1iNDM1LWFhYWFhYWFhYWFhYSIsImhhcHAiOiJvd2EifQ.phXcL3OihkkJhgS0M2MNz8XFwgrFMtrVnneAMbnDDpJHs0VLxz5HxXSIwJXxbDNHhiW2qk3kYebtKx5EpCw7i3jBYUgsLNnIPb-b_c6JBmtRwpOpAIoqieCG_iFCptIxfx9ED6_6yYot6B7_UqTBPelTGWrqvFwnPU5oDJLac4YXoEHMKqb23aWL5BCStdAz-ErNGj5ULnZyaKqWfOKLmmqTD2uzbNqjsG9zH1wS3fDl1ZUwT0zvMFKZoww-vnvqpqACLvqN5rlIZr6fbIkMSkhhWOu5SR_KSqf7svHBS-ZJDtWtPg86a_rdBBtcX-hZCkTY13ltdK-Z5NBVfx5Qmw&X-OWA-CANARY=KeuvMb5IdUGszpNlrkKbfLAo-niJY9sY49m1He3ekJ1cuXu8YAkBvvXuDvvsgnDaq9o1Ds8prDA.&owa=outlook.live.com&scriptVer=20230526012.06&animation=true');
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
}

.reveal_carta {
    
    transform: rotateY(180deg);
}

.desativar_carta {
    filter: saturate(0);
    opacity: 0.3;
}
